<%= form_for(@fab_process) do |f| %>
  <% if @fab_process.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fab_process.errors.count, "error") %> prohibited this fab_process from being saved:</h2>

      <ul>
      <% @fab_process.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :parameter_id %><br />
    <%= f.text_field :parameter_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
