<h1>Listing process_steps</h1>

<table>
  <tr>
    <th>Fab process</th>
    <th>Process flow</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @process_steps.each do |process_step| %>
  <tr>
    <td><%= process_step.fab_process_id %></td>
    <td><%= process_step.process_flow_id %></td>
    <td><%= link_to 'Show', process_step %></td>
    <td><%= link_to 'Edit', edit_process_step_path(process_step) %></td>
    <td><%= link_to 'Destroy', process_step, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Process step', new_process_step_path %>
