<h1>Listing parameters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Optimum value</th>
    <th>Tolerance</th>
    <th>Units</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parameters.each do |parameter| %>
  <tr>
    <td><%= parameter.name %></td>
    <td><%= parameter.optimum_value %></td>
    <td><%= parameter.tolerance %></td>
    <td><%= parameter.units %></td>
    <td><%= link_to 'Show', parameter %></td>
    <td><%= link_to 'Edit', edit_parameter_path(parameter) %></td>
    <td><%= link_to 'Destroy', parameter, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Parameter', new_parameter_path %>
