<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @parameter.name %>
</p>

<p>
  <b>Optimum value:</b>
  <%= @parameter.optimum_value %>
</p>

<p>
  <b>Tolerance:</b>
  <%= @parameter.tolerance %>
</p>

<p>
  <b>Units:</b>
  <%= @parameter.units %>
</p>


<%= link_to 'Edit', edit_parameter_path(@parameter) %> |
<%= link_to 'Back', parameters_path %>
